# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
version: '3'

services:
  ## QueueProcessor
  queueprocessor:
    image: mcr.microsoft.com/dotnet/sdk:6.0
    command: ["dotnet", "watch", "run", "--no-hot-reload"]
    working_dir: /app
    volumes:
      - ./src/Dapr.Trial.QueueProcessor:/app
    environment:
      ASPNETCORE_URLS: http://*:5000
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - 5000:5000
    depends_on:
      - redis
      - placement
    networks:
      - dapr-trial
  queueprocessor-dapr:
    image: daprio/daprd:edge
    command: ["./daprd",
     "--app-id", "queueprocessor",
     "--app-port", "5000",
     "--placement-host-address", "placement:50006",
     "--resources-path", "/components"]
    volumes:
      - ./components/:/components
    network_mode: service:queueprocessor

  placement:
    image: daprio/dapr
    command: ["./placement", "-port", "50006"]
    ports:
      - 50006:50006
    networks:
      - dapr-trial

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - dapr-trial

networks:
  dapr-trial:
