# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
version: '3'

services:
  ## QueueProcessor
  queueprocessor:
    image: mcr.microsoft.com/dotnet/sdk:6.0
    command: ["dotnet", "watch", "run", "--no-hot-reload"]
    working_dir: /app
    volumes:
      - ./src/Dapr.Trial.QueueProcessor:/app
    environment:
      ASPNETCORE_URLS: http://*:5000
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - 5000:5000
    depends_on:
      - redis
    networks:
      - dapr-trial
  queueprocessor-dapr:
    image: daprio/daprd:edge
    command: ["./daprd",
     "--app-id", "queueprocessor",
     "--app-port", "5000",
     "--resources-path", "/components",
     "--config", "/configuration/configuration.yaml"]
    volumes:
      - ./configuration/:/configuration
      - ./components/:/components
    network_mode: service:queueprocessor

  dapr-dashboard:
    image: "daprio/dashboard:latest"
    command: [ "--docker-compose=true",
      "--components-path=/home/nonroot/components",
      "--config-path=/home/nonroot/configuration",
      "--docker-compose-path=/home/nonroot/docker-compose.yaml" ]
    ports:
      - "8080:8080"
    volumes:
      - "./components/:/home/nonroot/components"
      - "./configuration/:/home/nonroot/configuration"
      - ./docker-compose.yaml:/home/nonroot/docker-compose.yaml
    networks:
      - dapr-trial

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - dapr-trial

  jaeger:
    image: jaegertracing/all-in-one:1
    ports:
      - 16686:16686
      - 4317:4317 # OtlpgRPC
      - 4318:4318 # OtlpHttp
    environment:
      COLLECTOR_OTLP_ENABLED: true

networks:
  dapr-trial:
